:root {
  --poppins-font-family: "IBMPlex Mono-Regular", Helvetica;
  --poppins-font-weight: 400;
  --poppins-font-size: 20px;
  --poppins-letter-spacing: 0.2px;
  --poppins-line-height: 24px;
  --poppins-font-style: normal;
}
